/* Layout container */
  .contact-home-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 3rem;
    max-width: 1200px;
    margin: auto;
    height: 90vh;
  }
  
  .contact-home-header {
    grid-column: span 2;
    text-align: center;
  }
  
  .contact-home-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  /* Form Styles */
  .contact-home-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-home-form label {
    margin: 1rem 0 0.5rem;
    font-size: 1rem;
  }
  
  .contact-home-form input,
  .contact-home-form textarea {
    background-color: var( --dark-bg-secondary);
    border: 1px solid var(--dark-text-secondary);
    color: var(--dark-text-primary);
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .contact-home-form input:focus,
  .contact-home-form textarea:focus {
    border-color: var(--sparkle-purple-hover);
    outline: none;
    box-shadow: 0 0 8px var(--sparkle-purple-light);
}
  
  .contact-home-form textarea {
    resize: none;
  }
  
  .contact-home-send-btn {
    background-color: var(--sparkle-purple);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .contact-home-send-btn:hover {
    background-color: var(--sparkle-purple-hover);
  }
  
  /* Right-Side Info */
  .contact-home-info {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--dark-text-primary);
    padding: 2rem;
  }
  
  .contact-home-colored-box {
    background: var(--sparkle-purple-light);
    width: 100%;
    height: 250px;
    margin-bottom: -3rem;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .contact-home-colored-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contact-home-details p,
  .contact-home-details a {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }
  
  .contact-home-details span {
    color: var(--sparkle-purple-light);
    text-decoration: none;
  }
  
  .contact-home-details span:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .contact-home-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-home-details ul li {
    margin: 0.5rem 0;
  }
  
  .contact-home-details ul li span {
    color: var(--dark-text-primary);
    transition: color 0.3s ease;
  }
  
  .contact-home-details ul li span:hover {
    color: var(--sparkle-purple-light);
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-home-container {
      grid-template-columns: 1fr;
      gap: 1rem;
      padding: 1.5rem;
    }
  
    .contact-home-header h1 {
      font-size: 2rem;
    }
  
    .contact-home-colored-box {
      height: 150px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-home-container {
      display: flex;
      flex-direction: column;
    }
  
    .contact-home-info {
      order: 1;
      padding-bottom: 1.5rem;
    }
  
    .contact-home-form {
      order: 2;
    }
  
    .contact-home-header h1 {
      font-size: 1.75rem;
    }
  
    .contact-home-send-btn {
      font-size: 0.9rem;
    }
  }
  
  